body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(97, 100, 100);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: rgb(55, 49, 49);
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.intro h1 {
    margin: 0;
    font-size: 20px;
}

.intro p {
    margin: 0;
    font-size: 13px;
    color: #94a3b8;
}

.home-link {
    text-decoration: none;
    color: white;
}

.home-link:hover {
    color: #919191;
}

.about {
    background-color: darkgray;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}



.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
}
    
.div1 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(138, 146, 146);
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 8;
    grid-row-start: 1;
    border-radius: 50px;
    background-color: #919191;
    margin-right: 20px;
    padding-left: 40px;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 50px;
    background-color: rgb(113, 129, 129);
    margin-left: 20px;
}
        